.navbar {
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.156);
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 10;
}

.logoDiv img {
  width: 150px;
}

.optionsDiv {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionsDiv a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
