.navbar {
  width: 1440px;
  margin: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 30px;
  border-radius: 20px;
  position: sticky;
  top: 0px;
  left: 0;
}

.logoDiv img {
  width: 150px;
}

.optionsDiv {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}

.optionsDiv a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
