* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}

html,
body {
  overflow-x: hidden;
}

#logo_svg .fil6 {
  fill: none;
  fill-rule: nonzero;
}

#logo_svg .fil1 {
  fill: #fefefe;
}

#logo_svg .fil4 {
  fill: #fefefe;
}

#logo_svg .fil2 {
  fill: #fefefe;
  fill-rule: nonzero;
}

#logo_svg .fil0 {
  fill: #fefefe;
  fill-rule: nonzero;
}

#logo_svg .fil5 {
  fill: url(#id1);
}

#logo_svg .fil3 {
  fill: url(#id2);
}

h1{
  font-size: 30px;
}

:root{
  --primary-white: "#FEFEFE";
  --primary-dark-blue: "#384490";
  --primary-light-blue: "#394C9B";
  --primary-yellow: "#FECD29";
  --primary-orange: "#EB8136";
  --primary-green: "#009954";
}